@media (min-width: 768px) {
  .game-times-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    max-width: max-content;
  }

  .table-prelude {
    min-width: 500px;
  }
}

.table-prelude {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.under-min-count {
  text-decoration: var(--accent-red) wavy underline;
}

.time-input {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

.nowrap {
  white-space: nowrap;
}

.time-error {
    text-decoration: var(--accent-red) wavy underline;
}

select {
    appearance: none;
    background: transparent;
    line-height: 1.5rem;
    border: none;
    padding: 0.375rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    border-bottom: 1px solid var(--border);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
select:hover {
    border-bottom: 1px solid var(--foreground-1);
}

label {
    padding: 0 0.375rem;
}

tr {
  transition: background-color 0.3s ease-in-out;
}

.focused {
  background-color: var(--accent-yellow-tint);
  animation: time-focus 1s 1;
}

@keyframes time-focus {
  25%, 75% {
    background-color: var(--accent-yellow-tint-high);
  }
  0%, 50%, 100% {
    background-color: var(--accent-yellow-tint);
  }
}